.PhoneInput {
    --PhoneInputCountryFlag-height: 24px;
    --PhoneInputCountryFlag-borderColor: none;
    --PhoneInputCountrySelectArrow-color: #fff;
    --PhoneInputCountrySelectArrow-opacity: 1;
    --PhoneInput-color--focus: #000;
    border-bottom: 2px solid #fff;
    padding: 8px;
}
.PhoneInput select {
    color: #fff !important;
    background-color: rgba(0,0,0,1);
}
.PhoneInput input {
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 18px;
}
